body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:90%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:24px;
  background:rgba(255,255,255,0);
  font-size: 16px;
  border:0px;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.button_2{
  height:24px;
  background:cyan;
  font-size: 16px;
  border:0px;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:5px;
  background:#f4f4f4;
  color:#ffffff;
  margin-top:0px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:10px;
  min-height:50px;
  
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:0px;
  margin-right: 0px;
  padding-right: 0px;
}

header .highlight, header .current a{
  color:#ffffff;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}



.items{
  margin: 0px;
  padding-top: 10px;
  background-color: #f4f4f4;
  width: 100%;
  height: 1200px;
  
}

.Row
{
    display: table;
    width: 100%; /*Optional*/
    height:40px;
    table-layout: fixed; /*Optional*/
    border-spacing: 0px; /*Optional*/
}





.Column-name
{
    display: table-cell;
   color: cyan;
  font-size: 19px;
  padding-left:290px;
  padding-top:30px;
}




.Column-left
{
    display: table-cell;
  
  padding-left:290px;
  padding-top:30px;
}

.Column-right
{
    display: table-cell;
  
  
  padding-top:30px;
}
.cont{
  background-color:white;
  width: 1000px;
  height: 900px;
  margin-left: 170px;
  margin-top:30px;
  
  
}

.action-buttons{
 height:24px;
 background-color: cyan;
  font-size: 16px;
  border:0px;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  
  
  
}

footer{
  padding:10px;
  margin-top:0px;
  color:#ffffff;
  background-color: #0f0f0f;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
