<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Shopping List website">
	  <meta name="keywords" content="shopping list, keep track of shopping">
  	<meta name="author" content="Felix Otieno">
    <title>Flinch | Edit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = './css/styleEdit.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Flinch</span></h1>
        </div>
        <nav>
          <ul>
            <button type="submit" class="button_1">Login</button>
          </ul>
        </nav>
      </div>
    </header>

    <section class ="items">
        
        <div class = "cont">
            
            <div class="Row">
                <div class="Column-name"><h1>John Doe</h1></div>
            
            
        </div>
        
         <div class="Row">
            <div class="Column-left">Shopping list name: </div>
            <div class="Column-right">
                
                <form>
                    <input type="text" placeholder=" ">
                </form>
        
             </div>
            
        </div>
            
            <div class="Row">
            <div class="Column-left">Item: </div>
            <div class="Column-right">
                
                <form>
                    <input type="text" placeholder=" ">
                </form>
        
             </div>
            
        </div>
            
            <div class="Row">
            <div class="Column-left">Store Location: </div>
            <div class="Column-right">
                
                <form>
                    <input type="text" placeholder=" ">
                </form>
        
             </div>
            
        </div>
            
            <div class="Row">
            <div class="Column-left">Item: </div>
            <div class="Column-right">
                
                <form>
                    <input type="text" placeholder=" ">
                </form>
        
             </div>
            
        </div>
            
            <div class="Row">
            <div class="Column-left">Store Location: </div>
            <div class="Column-right">
                
                <form>
                    <input type="text" placeholder=" ">
                </form>
        
             </div>
            
        </div>
            
               <div class="Row">
            <div class="Column-left">Item: </div>
            <div class="Column-right">
                
                <form>
                    <input type="text" placeholder=" ">
                </form>
        
             </div>
            
        </div>
            
            <div class="Row">
            <div class="Column-left">Store Location: </div>
            <div class="Column-right">
                
                <form>
                    <input type="text" placeholder=" ">
                </form>
        
             </div>
            
        </div>
            
               <div class="Row">
            <div class="Column-left">Item: </div>
            <div class="Column-right">
                
                <form>
                    <input type="text" placeholder=" ">
                </form>
        
             </div>
            
        </div>
            
            <div class="Row">
            <div class="Column-left">Store Location: </div>
            <div class="Column-right">
                
                <form>
                    <input type="text" placeholder=" ">
                </form>
        
             </div>
            
        </div>
            
               <div class="Row">
            <div class="Column-left">Item: </div>
            <div class="Column-right">
                
                <form>
                    <input type="text" placeholder=" ">
                </form>
        
             </div>
            
        </div>
            
            <div class="Row">
            <div class="Column-left">Store Location: </div>
            <div class="Column-right">
                
                <form>
                    <input type="text" placeholder=" ">
                </form>
        
             </div>
            
        </div>
            
            <div class="Row">
            <div class="Column-left"> </div>
            <div class="Column-right">
                
                <form>
                    <button type="submit" class="action-buttons">COMMIT</button>
                    <button type="submit" class="action-buttons">REVERT</button>
                </form>
        
             </div>
            
        </div>
            
        </div>
<!--
        <div class = "user-list">
            <div class="Row1">
                <div class="user-name"><h1>John Doe</h1></div>
                    <div class="list-category">Shopping list Category: Electronics</div>
                <div id="user-cat"></div>
            </div>
            <div class="Row2">
                    <div class="list-items"><h1>Speaker | Radio | Television | DVD Player</h1></div>
            </div>
       
        </div>
            
         <div class = "user-list">
            <div class="Row1">
                    <div class="user-name"><h1>John Doe</h1></div>
                    <div class="list-category">Shopping list Category: Electronics</div>
                <div id="user-cat"></div>
            </div>
            <div class="Row2">
                    <div class="list-items"><h1>Speaker | Radio | Television | DVD Player</h1></div>
            </div>
       
        </div>
        
     <div class = "user-list">
            <div class="Row1">
                    <div class="user-name"><h1>John Doe</h1></div>
                    <div class="list-category">Shopping list Category: Electronics</div>
                <div id="user-cat"></div>
            </div>
            <div class="Row2">
                    <div class="list-items"><h1>Speaker | Radio | Television | DVD Player</h1></div>
            </div>
       
        </div>
        
        <div class = "user-list">
            <div class="Row1">
                    <div class="user-name"><h1>John Doe</h1></div>
                    <div class="list-category">Shopping list Category: Electronics</div>
                <div id="user-cat"></div>
            </div>
            <div class="Row2">
                    <div class="list-items"><h1>Speaker | Radio | Television | DVD Player</h1></div>
            </div>
       
        </div>
        
        <div class = "user-list">
            <div class="Row1">
                    <div class="user-name"><h1>John Doe</h1></div>
                    <div class="list-category">Shopping list Category: Electronics</div>
                <div id="user-cat"></div>
            </div>
            <div class="Row2">
                    <div class="list-items"><h1>Speaker | Radio | Television | DVD Player</h1></div>
            </div>
       
        </div>
        
       <div class = "user-list">
            <div class="Row1">
                    <div class="user-name"><h1>John Doe</h1></div>
                    <div class="list-category">Shopping list Category: Electronics</div>
                <div id="user-cat"></div>
            </div>
            <div class="Row2">
                <div class="list-items"><h1>Speaker | Radio | Television | DVD Player</h1></div>
            </div>
       
        </div>
        
-->
     
    </section>

   


    <footer>
      <p>Flinch Shopping lists, Copyright &copy; 2017</p>
    </footer>
  </body>
</html>
