<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Shopping List website">
	  <meta name="keywords" content="shopping list, keep track of shopping">
  	<meta name="author" content="Felix Otieno">
    <title>Flinch | Edit Shopping List </title>
    <link rel="stylesheet" href="{{ url_for('static', filename = './css/styleEditShoppingList.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Flinch</span></h1>
        </div>
        <nav>
          <ul>
            <button type="submit" class="button_2">Log out</button>
          </ul>
        </nav>
      </div>
    </header>

    <section class ="items">
        
        <div class = "account-name">
            
            <h1>John Doe</h1>
            
       
        </div>
        
         <div class = "shopping-list-name">
            
            <h1>Electronics Shopping List</h1>
            
       
        </div>
        <div class = "user-list">
            <div class="Row1">
                <div class="user-name"><h1>Speaker</h1></div>
                    <div class="list-category">
                        <form>
                            <button type="submit" class="button_1">Update</button>
                            
                            <button type="submit" class="button_1">Delete</button>
                        </form>

                </div>
                
            </div>
            
            <div class="Row2">
                    <div class="list-items"><h1>Bright Technologies Ltd</h1></div>
            </div>
            
       
        </div>
            
         <div class = "user-list">
            <div class="Row1">
                <div class="user-name"><h1>DVD Player</h1></div>
                    <div class="list-category">
                        <form>
                            <button type="submit" class="button_1">Update</button>
                            
                            <button type="submit" class="button_1">Delete</button>
                        </form>

                </div>
                
            </div>
            
            <div class="Row2">
                    <div class="list-items"><h1>Elite Digital Solutions</h1></div>
            </div>
            
       
        </div>
        
      <div class = "user-list">
            <div class="Row1">
                <div class="user-name"><h1>Television</h1></div>
                    <div class="list-category">
                        <form>
                            <button type="submit" class="button_1">Update</button>
                            
                            <button type="submit" class="button_1">Delete</button>
                        </form>

                </div>
                
            </div>
            
            <div class="Row2">
                    <div class="list-items"><h1>Tech World Kenya</h1></div>
            </div>
            
       
        </div>
        
          <div class = "user-list">
            <div class="Row1">
                <div class="user-name"><h1>Extension Cables</h1></div>
                    <div class="list-category">
                        <form>
                            <button type="submit" class="button_1">Update</button>
                            
                            <button type="submit" class="button_1">Delete</button>
                        </form>

                </div>
                
            </div>
            
            <div class="Row2">
                    <div class="list-items"><h1>Bygone Solutions</h1></div>
            </div>
            
       
        </div>
        
         <div class = "user-list">
            <div class="Row1">
                <div class="user-name"><h1>Memory Stick</h1></div>
                    <div class="list-category">
                        <form>
                            <button type="submit" class="button_1">Update</button>
                            
                            <button type="submit" class="button_1">Delete</button>
                        </form>

                </div>
                
            </div>
            
            <div class="Row2">
                    <div class="list-items"><h1>Aficom</h1></div>
            </div>
            
       
        </div>
        
      
        
     
    </section>

   


    <footer>
      <p>Flinch Shopping lists, Copyright &copy; 2017</p>
    </footer>
  </body>
</html>
